{% extends 'layout/default.html' %}
{% block title %} Vote {% endblock %}
{% block body %}
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<div class=flashes>
		{% for category, message in messages %}
		<div class="alert alert-{{ category }}" role="alert">
			{{ message }} {{votan.nom}} {{votan.prenom}}
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% endwith %}
	<h2>Election 2022</h2>
	<p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Saepe reprehenderit eligendi molestiae in quo voluptatibus unde perspiciatis quisquam consectetur. Fuga accusantium, iusto dolores aperiam sequi ratione a ad, illum aliquam, voluptatum consequuntur saepe! Quae odio consequatur sed officiis quisquam autem!</p><br>
	<h3>List des candidats </h3>
	<hr>
	<form method="post" action="{{url_for('valider_vote', matricule_votan= votan.matricule)}}">
		{% for post in posts %}
			<h5>Nom du Post : {{post.nom}}</h5>
			{% for candidature in post.candidatures %}
				<div class="form-check">
					<input class="form-check-input" type="radio" name="candidat" id="cand-{{candidature.votan.nom}}" value="{{candidature.id}}">
					<label class="form-check-label" for="cand-{{candidature.votan.nom}}">
						{{candidature.votan.nom}} {{candidature.votan.prenom}}
					</label>
				</div>
			{% endfor %}
		{% endfor %}
	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	
	
	
{% endblock %}